<section class="hero text-center">
  <div class="container">
    <div class="col-sm-8 col-sm-offset-2">
      <h1 class="hero-title">KW Spaces</h1>

      <p class="hero-subtitle">A showcase of the best tech and startup<br> offices in the Kitchener-Waterloo Region.</p>

      <form class="hero-form" action="index.html" method="post">
        <label class="hero-form-label" for="">Be the first to find out when more spaces are added.</label>
        <input class="hero-form-input" type="email" name="email" value="" placeholder="">
      </form>
    </div>
  </div>
</section>
