<header class="header--space header">
  <div class="header--space-inner">
    <div class="container">
      <div class="pull-left">
        <a class="header-menu pull-left" href="#">Sections</a>
        <span class="header-logo"><%= current_page.data.title %></span>
      </div>

      <div class="header-social pull-right">
        <ul class="list list--inline">
          <li><strong>Share on:</strong></li>
          <li><a class="btn btn-twitter--blue" href="#">Twitter</a></li>
          <li><a class="btn btn-facebook--blue" href="#">Facebook</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>
