//
// Utility classes
// --------------------------------------------------


// Images
// -------------------------

.img--full {
  display: block;
  height: auto;
  width: 100%;
}

// Responsive images (ensure images don't scale beyond their parents)
.img--responsive {
  display: block;
  height: auto; // Part 2: Scale the height according to the width, otherwise
  max-width: 100%; // Part 1: Set a maximum relative to the parent
}

// Perfect circle
.img--circle {
  border-radius: 100%; // set radius in percents
}
