//
// Utility classes
// --------------------------------------------------


// Padding
// -------------------------

.pad {
  &--lg {
    padding-top: 144px;
    padding-right: 144px;
    padding-bottom: 144px;
    padding-left: 144px;

    &--y { padding-top: 144px; padding-bottom: 144px; }
    &--x { padding-right: 144px; padding-left: 144px; }
  }

  &--md {
    padding-top: 96px;
    padding-right: 96px;
    padding-bottom: 96px;
    padding-left: 96px;

    &--y { padding-top: 96px; padding-bottom: 96px; }
    &--x { padding-right: 96px; padding-left: 96px; }
  }

  &--sm {
    &--y { padding-top: 48px; padding-bottom: 48px; }
    &--x { padding-right: 48px; padding-left: 48px; }
  }

  &--xs {
    &--y { padding-top: 24px; padding-bottom: 24px; }
    &--x { padding-right: 24px; padding-left: 24px; }

    &--t { padding-top: 24px; }
    &--r { padding-right: 24px; }
  }

  &--xxs {
    &--y { padding-top: 12px; padding-bottom: 12px; }
    &--x { padding-right: 12px; padding-left: 12px; }

    &--t { padding-top: 12px; }
    &--r { padding-right: 12px; }
  }

  &--xxxs {
    &--y { padding-top: 6px; padding-bottom: 6px; }
    &--x { padding-right: 6px; padding-left: 6px; }

    &--t { padding-top: 6px; }
    &--r { padding-right: 6px; }
  }
}


// Sections
// -------------------------

.section {
  &-header {
    & + .section-body {
      margin-top: 24px;
    }
  }

  // Sizes
  &--md {
    & + .section {
      margin-top: 80px;
    }
  }

  &--sm {
    & + .section {
      margin-top: 40px;
    }
  }

  &--xs {
    & + .section {
      margin-top: 20px;
    }
  }
}

// Columns
// -------------------------
.col-sm {
  &--xs {
    @media (max-width: $screen-xs-max) {
      & + & {
        padding-top: 24px;
      }
    }
  }
}

// Floats
// -------------------------

.clearfix {
  @include clearfix;
}
.center-block {
  @include center-block;
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}


// Toggling content
// -------------------------

// Note: Deprecated .hide in favor of .hidden or .sr-only (as appropriate) in v3.0.1
.hidden {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}

@media (max-width: $screen-md-max) {
  .visible-lg {
    display: none;
  }
}
