---
title: "Vidyard"
layout: "space"
---

<section class="block-hero pad--md--y text--center">
  <div class="container">
    <div class="row">
      <div class="col-sm-offset-3 col-sm-6">
        <h1 class="block-hero-title">Vidyard</h1>
        <p class="block-hero-subtitle">8 Queen St.</p>

        <p class="block-hero-body text--left">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>

        <p>
          <a class="btn btn-black" href="#">Share</a>
        </p>
      </div>
    </div>
  </div>
</section>

<header class="header--space header">
  <div class="container">
    <div class="pull-left">
      <a class="header-btn" href="#">Sections</a>
    </div>

    <div class="pull-right">
      <ul class="list--inline">
        <li>Facebook</li>
        <li>Twitter</li>
      </ul>
    </div>
  </div>
</header>

<main class="pad--md--y">
  <section class="section--md section text--center">
    <div class="container">
      <h2>Lobby</h2>
    </div>
  </section>

  <section class="section--md section text--center">
    <div class="container">
      <h2>Kitchen</h2>
    </div>
  </section>

  <section class="section--md section text--center">
    <div class="container">
      <h2>Collaborative Spaces</h2>
    </div>
  </section>

  <section class="section--md section text--center">
    <div class="container">
      <h2>Lobby</h2>
    </div>
  </section>

  <section class="section--md section text--center">
    <div class="container">
      <h2>Lobby</h2>
    </div>
  </section>

  <section class="section--md section text--center">
    <div class="container">
      <h2>Lobby</h2>
    </div>
  </section>

  <section class="section--md section text--center">
    <div class="container">
      <h2>Lobby</h2>
    </div>
  </section>
</main>
