.block-selection {
  &-header {
    &-links {
      font-size: 0;

      li {
        &.active {
          .block-selection-header-link {
            color: #000000;
          }
        }

        & + li {
          margin-left: 18px;
        }
      }
    }

    &-link {
      color: rgba(#000000, 0.4);
      display: inline-block;
      font-size: 20px;
      font-weight: 700;
      text-decoration: none;

      &:hover {
        color: rgba(#000000, 0.6);
      }
    }

    & + .block-selection-body {
      margin-top: 24px;
    }
  }

  &-body {
    &-row {
      & + .block-selection-body-row {
        margin-top: 24px;
      }
    }

    &-item {
      display: block;
      text-decoration: none;

      &:hover {
        opacity: 0.9;
      }

      &-name {
        color: #FFFFFF;
      }
    }
  }

  &-heading {
    font-size: 18px;
    font-weight: 700;

    & + .block-selection-link {
      margin-top: 0;
    }
  }

  &-link {
    & + .block-selection-list {
      margin-top: 12px;
    }
  }

  &-list {
    a {
      text-decoration: none;
    }
  }
}
