.header {
  height: 40px;

  li:not(:last-child) {
    margin-right: 12px;
  }

  &-logo {
    color: #FFFFFF;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    margin: 10px 0;
  }

  &-link {
    color: rgba(#000000, 0.6);
    display: inline-block;
    line-height: 20px;
    margin: 10px 0;

    &:hover,
    &:focus {
      color: rgba(#000000, 0.8);
    }

    &.active {
      color: #000000;
      font-weight: 700;
    }
  }

  //
  // Variations
  //
  &--inverse {
    .header-link {
      color: rgba(#FFFFFF, 0.6);

      &:hover,
      &:focus {
        color: rgba(#FFFFFF, 0.8);
      }

      &.active {
        color: #FFFFFF;
      }
    }
  }

  &--space {
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
  }
    &-btn {
      background-color: #000000;
      color: #FFFFFF;
      display: inline-block;
      height: 30px;
      line-height: 30px;
      margin: 4px 0;
      padding: 0 12px;

      @include transition(all ease-in-out .1s);

      &:focus,
      &:hover {
        color: #FFFFFF;
      }
    }
}
