input {
  &[type="text"],
  &[type="email"] {
    border: 1px solid #DDDDDD;
    padding: 8px 16px;

    &:hover {
      border: 1px solid #AAAAAA;
    }

    &:focus {
      border: 1px solid #000000;
      outline: none;
    }
  }
}
