<%= partial "_partials/header/hero" %>

<!-- <%= partial "_partials/header/home" %> -->

<section class="featured bg-lightgrey pad--sm--y">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <h2 class="text-center">Featured Spaces</h2>
      </div>
    </div>
  </div>
</section>
