<section class="block-hero text--center">
  <div class="container">
    <div class="col-sm-8 col-sm-offset-2">
      <h1 class="block-hero-title">Spaces</h1>

      <p class="block-hero-subtitle">Showcasing the best tech offices and spaces in<br class="hidden-xs"> Toronto, Kitchener-Waterloo, Montreal, Ottawa and Vancouver.</p>

      <form class="block-hero-form" action="//karel.us5.list-manage.com/subscribe/post?u=453afd4574efb15909950c60d&amp;id=f4ab8eace7" method="POST" target="_blank" novalidate>
        <label class="block-hero-form-label">Be the first to find out when Spaces launches.</label>

        <div class="block-hero-form-input-group">
          <input id="mce-EMAIL" class="block-hero-form-input" type="email" name="EMAIL" value="" placeholder="email.address@domain.ca">
          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_453afd4574efb15909950c60d_f4ab8eace7" tabindex="-1" value=""></div>
          <input class="block-hero-form-btn btn-black btn" type="submit" name="name" value="Subscribe">
        </div>
      </form>

      <ul class="block-hero-social list list--inline list--inline--spacious">
        <li><a class="clr-link-twitter--blue" href="https://twitter.com/seethespaces"><img class="" src="<%= images_dir %>/icon-twitter.svg" width="18" height="18"></a></li>
        <li><a class="clr-link-facebook--blue" href="https://facebook.com/seethespaces"><img class="" src="<%= images_dir %>/icon-facebook.svg" width="18" height="18"></a></li>
        <li><a class="clr-link-twitter--blue" href="https://instagram.com/seethespaces"><img class="" src="<%= images_dir %>/icon-instagram.svg" width="18" height="18"></a></li>
      </ul>
    </div>
  </div>
</section>
