<section class="block-hero pad--md--y text--center">
  <div class="container">
    <div class="col-sm-8 col-sm-offset-2">
      <h1 class="block-hero-title">Spaces</h1>

      <p class="block-hero-subtitle">Showcasing the best tech offices and spaces in<br class="hidden-xs"> Toronto, Kitchener-Waterloo, Montreal, Ottawa and Vancouver.</p>

      <form class="block-hero-form" action="index.html" method="post">
        <label class="block-hero-form-label" for="">Be the first to find out when more spaces are added.</label>

        <div class="block-hero-form-input-group">
          <input class="block-hero-form-input" type="email" name="email" value="" placeholder="email.address@domain.com">
          <input class="block-hero-form-btn btn-black btn" type="submit" name="name" value="Subscribe">
        </div>
      </form>

      <ul class="block-hero-social list list--inline list--inline--spacious">
        <li><a class="clr-link-facebook--blue" href="#">Facebook</a></li>
        <li><a class="clr-link-twitter--blue" href="#">Twitter</a></li>
      </ul>
    </div>
  </div>
</section>
